.detail-wrap .detail-item {
  height: 60px;
  border-bottom: 1px solid #FF99CC;
  line-height: 60px;
}
.detail-wrap .item-title {
  font-size: 15px;
  width: 100px;
  text-align: center;
  font-weight: 600;
  padding-right: 5px;
}
